body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #0068ca;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #0068ca;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-destaques .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: Patua one, cursive;
}

.tamanho-fonte {
    font-size: 2.5rem; /*Alterar para o tamanho desejado*/
}

.marcador {
    list-style-type: none;
    padding-left: 0;
}

#sobre-a-natacao, #destaques {
    background-color: #b6eaff;
}

.text-colored {
    color: #0068ca;
}

.nav-destaques .nav-link.active,
#fale-conosco button {
    background-color: #0068ca;
    color: #fff;
}

.nav-destaques .nav-link:hover {
    color: #0068ca;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}